section {
    padding: 8rem 0;
    
    .wrapper {
        max-width: 1320px;
        margin: auto;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
    }

    .text {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;

        .mini-title {
            font-size: .78rem;
        }
    }
}