@use '../abstracts/variables' as *;
@use 'sass:map';

footer {
    background-color: map-get($colors, arc-base );
    padding: 8rem 20px 3rem;
    
    #wrapper {
        max-width: 1440px;
        margin: auto;
    }

    #cta {
        padding: 2rem;
        background-color: map.get($colors, arc-accent-dark);
        margin-bottom: 8rem;
        overflow: hidden;

        #queens {
            display: none;
        }

        .text {
            div {
                &:first-of-type {
                    display: flex;
                    flex-direction: column;
                    row-gap: 1.5rem;
                }
    
                &:last-of-type {
                    display: none;
                }
            }
        }
    }

    #footer {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        #links {
            display: none;
        }

        #contact {
            > div {
                display: flex;
                column-gap: 1.5rem;
                
                a {
                    svg {
                        background-color: map.get($colors, arc-accent);
                        padding: 8px;
                        height: 64px;
                        width: 64px;
                        border-radius: 1rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    footer {
        #cta {
            position: relative;

            #queens {
                display: block;
                position: absolute;
                width: 50%;
                right: 0;
                bottom: 0;
                object-fit: cover;
            }

            .text {
                display: grid;
                grid-template-columns: 1fr 2fr;
                
                div {
                    &:last-of-type {
                        display: block;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    footer {

        #footer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 2rem;

            #overview {

            }
            #links {
                display: block;
            }

            #contact {
                > div {
                    display: flex;
                    column-gap: 1.5rem;
                    
                    a {
                        svg {
                            background-color: map.get($colors, arc-accent);
                            padding: 8px;
                            height: 64px;
                            width: 64px;
                            border-radius: 1rem;
                        }
                    }
                }
            }
        }
    }
}