@use '../abstracts/variables' as *;
@use 'sass:map';

nav {
    background-color: map-get($colors, arc-base );
    padding: 20px;
    box-shadow: 0 4px 4px rgba(#000000, .5);
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 90px;

    #wrapper {
        max-width: 1440px;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    #logo {
        img {
            height: 48px;
        }
    }

    #burger {
        box-shadow: none;
    }
    
    .chakra-drawer__content {
        background-color: map.get($colors, arc-base);

        .chakra-drawer__closeTrigger {
            box-shadow: none;
        }

        .chakra-drawer__body {
            display: flex;
            align-items: start;
            flex-direction: column;
            row-gap: 2rem;

            .text-link {
                box-shadow: none;
            }
        }
    }
}