@use '../abstracts/variables' as *;
@use 'sass:map';

nav {
    background-color: map-get($colors, arc-base );
    padding: 20px;
    box-shadow: 0 4px 4px rgba(#000000, .5);
    position: fixed;
    width: 100%;
    height: 90px;

    #wrapper {
        max-width: 1440px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
        row-gap: 2rem;
        height: 100%;
    }

    #logo {
        img {
            height: 48px;
        }
    }

    #cta {

    }
}