@use './variables' as *;
@use "sass:map";
@use "sass:string";

@each $name, $color in $colors {
    .clr-#{$name} {
        color: $color
    }
}

@each $name, $color in $colors {
    .bg-#{$name} {
        color: $color
    }
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}