#page-home {
    #hero {

    }
}

@media only screen and (min-width: 900px) {
    #page-home {
        #hero {
            .wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 2rem;
            }
        }
    }
}