@use '../abstracts/variables' as *;
@use 'sass:map';

#page-home {
    #hero {
        .mask {
            background: linear-gradient(to bottom, rgba(#59304D, 0) 50%, #59304D 100%);
        }
    }

    #catchphrase {
        background-color: #59304D;

        #part-one, #part-two {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        }
    }

    #sponsor {
        background: linear-gradient(to bottom, #59304D, map.get($colors, arc-base));

        #broken-circle {
            top: -50px;
        }

        #sponsor-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;

            .sponsor-card {
                padding: 1rem;
                background-color: map.get($colors, arc-accent-dark);
                height: 120px;

                display: flex;
                justify-content: center;
                align-items: center;
                
                border-radius: 12px;
                box-shadow: 0 4px 4px rgba(#000000, .25);

                img {
                    width: auto;
                    max-height: 64px;
                }
            }
        }

        .wrapper {
            > div {
                display: flex;
                flex-direction: column;
                row-gap: 2rem;
            }   
        }
    }

    #primary-apps {

        .app-card {
            position: relative;
            overflow: hidden;
            height: 200px;

            h3, p {
                position: relative;
                z-index: 3;
            }

            img {
                max-height: 150px;
                position: absolute;
                z-index: 2;
                bottom: 0;
            }

            .circle {
                position: absolute;
                z-index: 1;
                border-radius: 325px;
                height: 325px;
                width: 325px;
                bottom: -165px;
            }
        }

        #top-half {
            margin-bottom: 1rem;

            .text {
                margin-bottom: 1rem;
            }

            #miru-card {

                .circle, img {
                    right: 0;
                }
            }
        }

        #bottom-half {

            #yomu-card {
                text-align: end;
            }

            #kiku-card {
                img, .circle {
                    right: 0;
                }

                img {
                    height: 100%;
                }
            }

            #asobu-card, #iku-card {
                img, .circle {
                    right: 0;
                }
            }

            #left-half, #right-half {
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
            }

            #left-half {
                margin-bottom: 1rem;
            }
        }
    }

    #stack {
        #technologies {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;

            #stack-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
                align-items: center;
                justify-items: center;

                > div {
                    height: 144px;
                    width: 144px;
                    border-radius: 12px;
                    background-color: map.get($colors, arc-base);
                    box-shadow: 0 4px 4px #bbbbbb;

                    img {
                        width: auto;
                        max-height: 120px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    #page-home {
        #hero {
            .wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 2rem;
            }

            #furina {
                right: 20px;
            }
        }

        #catchphrase {

            #part-one {
                display: grid;
                grid-template-columns: 2fr 1fr;
                column-gap: 1rem;
            }

            #part-two {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 1rem;
            }
        }

        #sponsor {
            .wrapper {
                > div {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 4rem;
                    align-items: center;
                }   
            }
        }

        #primary-apps {

            .app-card {
                
                img {
                    max-height: 100%;
                }
            }


            #top-half {
                margin-bottom: 1rem;
                display: grid;
                grid-template-columns: 1.25fr 1fr;
                column-gap: 1rem;

                .text {
                    margin-bottom: 0
                }

                #miru-card {
                    height: 100%;
                }
            }

            #bottom-half {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 1rem;
                
                #yomu-card, #iku-card {
                    height: 290px;
                }

                #asobu-card, #kiku-card {
                    height: 250px
                }
            }
        }

        #d2x {
            .wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 4rem;

                img {
                    height: 75%;
                    width: 75%;
                }
            }
        }

        #stack {
            #technologies {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 4rem;

                #stack-container {
                }
            }
        }
    }
}