@forward 'abstracts';
@forward 'base';
@forward 'components';
@forward 'layout';
@forward './themes/theme';
@use './abstracts/variables' as *;
@use 'sass:map';

.desktop-only {
    display: none;
}

.mobile-only {
    display: block;
}

html {
    background-color: #FFF6E1;
    scroll-behavior: smooth;

    body {
        position: relative;

        main {
            position: relative;
            z-index: 1;
            padding-top: 90px;
            min-height: 100dvh;
            font-size: 18px;
            color: map.get($colors, txt-dark);
            
            .button-container {
                display: flex;
                column-gap: 1rem;
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .desktop-only {
        display: block;
    }
    
    .mobile-only {
        display: none;
    }
}